<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">Recipe book</a>
    <div class="col text-left">
        <!-- <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe book</a>
        </div> -->
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
            </ul>           
        </div>
    </div>

    <div class="col text-right">
        <!-- <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe book</a>
        </div> -->
        <div class="d-inline-block navbar-default ">
                       
        </div>
    </div>

            
    
                <div class="col text-right">
                    <div class="d-inline-block navbar-default">
                        <ul class="nav navbar-nav">
                        <ng-template [ngIf]="!authOut.logged()"> 
                            <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
                            <li routerLinkActive="active"><a routerLink="/signin">Login</a></li>                    
                        </ng-template>            <!--      -->
                            <li><a style="cursor: pointer;" (click)="onLogOut()" *ngIf="authOut.logged()">Logout</a> </li>
                        
                            <div ngbDropdown id="divManage" *ngIf="authOut.logged()" >
                            <!-- <a style="cursor: pointer;" appDropdown class="dropdown-toggle" role="button" ngbDropdownToggle>Manage <span class="caret"></span></a>                     -->
                                <button type="button" class="btn btn-primary mx-auto" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
                                    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
                                        <!-- <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save data</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch data</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onPutProduct()">Put data</a></li> 
                                        <button class="dropdown-item">Action 1</button>   <ul ngbDropdownMenu class="dropdown-menu">    -->
                                        
                                            <li><a style="cursor: pointer;" (click)="onSaveData()">Save data</a></li>
                                            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch data</a></li>
                                            <li><a style="cursor: pointer;" (click)="onPutProduct()">Put data</a></li>
                                        
                                    </div>
                            <!--  -->
                            </div>

                        </ul>
                    </div>

                    
                </div>

</nav>

                