<div class="row">
    <div class="col-sx-12">
        <p>Add wew Servers or blueprint</p>
        <label>Server Name</label>
        <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
        <input 
            type="text"
            class="form-control"
            #serverNameInput>
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <br>
        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBluePrint()">Add Server Blueprint</button>
    </div>
</div>